<div class="container" id="for_form">
  <hr class="intro-divider">
  <%- if notice %>
    <div class="alert">
      <p id="notice"><%= notice %></p>
    </div>
  <%- end %>


  <%- if @client.errors.any? %>
      <div id="error_explanation">
        <ul id="for_alert">
          <%- @client.errors.full_messages.each do |message| %>
            <li class="listin">
              <%= message %>
            </li>
            <hr class="intro-divider">
          <%- end %>
        </ul>
       </div>
    </div>
  <%- end %>

  <div class="row" id="forma">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <%= form_for :client, :url => { :action => "sending" }, html: {class: "contactForm"}, remote: true do |f| %>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-address-book" aria-hidden="true"></i></div>
              <%= f.text_field :name, class: "form-control", placeholder: "Имя"%>
            </div>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-language" aria-hidden="true"></i></div>
              <%= f.text_field :level, class: "form-control", placeholder: "Примерный уровень"%>
            </div>
          </div>
        </div>
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <%= f.text_field :phone, class: "form-control", placeholder: "+79002306574"%>
            </div>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.submit 'Записаться на урок!', class: 'btn btn-primary btn-block'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
