<!DOCTYPE html>
<html>
<head>
  <title>My english S'cool</title>
  <%= favicon_link_tag 'logoss.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://vk.com/js/api/openapi.js?146" type="text/javascript"></script>
  <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
  <%= csrf_meta_tags %>
</head>


  <body class='<%= controller.controller_name %>'>
    <% if @current_user %>
      <div class="header">
        <ul>
          <li><%= link_to @current_user.name.capitalize, user_path(@current_user.id) %></li>
          <li><%= link_to t("exit"), logout_path, method: :delete %></li>
        </ul>
      </div>
    <% end %>
    <% if @current_admin %>
      <div class="header">
        <ul>
          <li><%= link_to @current_admin.name.capitalize, admin_path(@current_admin.id) %></li>
          <li><%= link_to t("exit"), admin_logout_path, method: :delete %></li>
        </ul>
      </div>
    <% end %>

  <%= yield %>

  </body>


</html>
